<div class="main-box" [ngClass]="{'dark': isNightMode}">
  <img class="avatar" [src]="emoji" alt="MemojiTecfan" style="width:50%;">

  <h1>Enrique Rodriguez Vela 🧑‍💻</h1>
  <p>⬇️ All my official links are here ⬇️</p>


  <a *ngFor="let network of socialNetworks" class="box-item" href="{{network.link}}">
    <div class="left-item">
      <fa-icon [icon]="network.image"></fa-icon>
    </div>
    <div class="right-item">
      <p>{{network.title}}</p>
    </div>
  </a>

  <button type="button" class="btn-up" (click)="nightMode()">
    <fa-icon *ngIf="!isNightMode" [icon]="moon"></fa-icon>
    <fa-icon *ngIf="isNightMode" [icon]="sun"></fa-icon>
  </button>

</div>
